<div class="container">
  <div *ngIf="!submitted">
    <h1>Les templates de bases des formulaires</h1>
    <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm.value)">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" name="name" ngModel #name="ngModel" required>
        <div class="alert alert-danger" [hidden]="name.valid || name.pristine">Nom doit être renseigné</div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" name="alterEgo" ngModel #alterEgo="ngModel" required>
        <div class="alert alert-danger" [hidden]="alterEgo.valid || alterEgo.pristine">Alter Ego doit etre renseigné</div>
      </div>
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" name="power" ngModel #power="ngModel" required>
          <option *ngFor="let p of powers" [value]="p">{{ p }}</option>
        </select>
        <div class="alert alert-danger" [hidden]="power.valid || power.pristine">Pouvoir doit etre renseigné</div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!heroForm.valid">Validation du formulaire</button>
    </form>
  </div>
  <div *ngIf="submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-md-2">Nom</div>
      <div class="col-md-10 pull-left">{{ form.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Alter Ego</div>
      <div class="col-md-10 pull-left">{{ form.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Pouvoir</div>
      <div class="col-md-10 pull-left">{{ form.power }}</div>
    </div>
    
    {{ form | json }}
    <br /><br />
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>
