<h1>coucou</h1>
<form [formGroup]="customerForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label>Nom</label>
        <required-textbox formControlName="name"></required-textbox>
        <div class="alert alert-danger" *ngIf="customerForm.controls.name.invalid">Prenom doit etre renseigné</div>
    </div>
    <div class="form-group">
        <label>Telephone</label>
        <phone-textbox formControlName="phone"></phone-textbox>
        <div class="alert alert-danger" *ngIf="customerForm.controls.phone.errors?.required">entrée un numero de telephone</div>
        <div class="alert alert-danger" *ngIf="customerForm.controls.phone.errors?.phone">Entrée un numéro valide</div>
    </div>
    <br />
    <button class="btn btn-default" [disabled]="customerForm.invalid">Validée</button>
    <br /><br />
    {{ message }}
   
</form>
